$light-grey: #e0e0e0;
$grey: #bababa;
$dark-grey: #949494;

$pai-green: #728f41;

$complete-task: #00a84e;
$complete-text: #00632e;
$active-task: #4286f4;
$active-text: #003875;
$not-complete-task: $dark-grey;
$not-complete-text: #3a3a3a;