$light-grey: #e0e0e0;
$grey: #bababa;
$dark-grey: #949494;

$pai-green: #728f41;

$submit-color: #fbff32;
$decline-color: #e8122b;
$approve-color: #00ce4f;
$upload-color: #008cff;
$revise-color: #44abff;
$message-color: #8200ce;
$closed-color: $dark-grey;

$complete-task: #00a84e;
$complete-text: #00632e;
$active-task: #4286f4;
$active-text: #003875;
$not-complete-task: $dark-grey;
$not-complete-text: #3a3a3a;
